Screen {
    layout: vertical;
    background: #2e2e2e;
}

Button {
    margin: 1;
}

Menu {
    background: #2e2e2e;
}

Header {
    background: #2e2e2e;
}

Title {
    content-align: center middle;
}

AsciiTitle {
    background: transparent;
}

.centered-item {
    align: center middle;
    width: 100%;
}

.centered-item Label {
    text-align: center;
    width: 100%;
    height: 3;
}

.bordered {
    border: solid white;
}

.halfwidth {
    width: 50%
}

#content {
    padding: 1;
}